@import "@/styles/variables.scss";

.card {
  width: 173px;
  height: 246px;
  display: flex;
  flex-direction: column;
  clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
  text-decoration: none;

  @media screen and (max-width: $mobile-width) {
    flex: 1 133px;
  }

  &:hover {
    cursor: pointer;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__divider {
    width: 100%;
    height: 6px;
    background-color: $primary-color;
  }

  &__footer {
    background-color: $secondary-color;
    display: flex;
    height: 56px;
    justify-content: space-between;
    color: white;
    padding: 0px 0px 16px 16px;
    align-items: center;
  }
}
