$background-color: #ffffff;
$primary-color: #ec1d24;
$primary-color-dark: #b30000;
$secondary-color: #000000;
$white-color: #ffffff;
$black-color: #000000;
$header-height: 84px;
$muted-color: mix(white, $secondary-color, 90%);
$gray-color: #c8c8c8;
$mobile-width: 600px;
$tablet-width: 1024px;
