@import '@/styles/variables.scss';

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  transition: all 0.3s ease;
  width: min-content;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
  color: $secondary-color;
  &:hover {
    background-color: $muted-color;
  }
}
